body {
    background-image: radial-gradient(to right, pink , yellow, white  );
    background-size: cover;
    height: 100%;
    align-items: center;
    text-align: center;
}

.text {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.p1 {
    font-weight: 100;
    font-size: 80px;

}

.common-btn {
    border-radius: 10px;
    background: transparent;
    color: black;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 10px;
    width: 180px;
    margin: 10px 10px;
    outline: none;

}

button:hover {
    background-color: gray;
}

/* for mobile */
@media only screen and (min-width:480px){}


/* for tab  */
@media only screen and (max-width:768px) {}