body {
    background-color: bisque;
    font-family: cursive;
    background-size: cover;
    height: 100%;
    align-items: center;
    text-align: center;
}

.text {
    text-align: center;
    font-weight: 100;
    font-size: 5em;
    text-transform: uppercase;
}

.p{
    font-weight: 100;
    font-size: 5em;
    text-transform: uppercase;
}

.common-btn{
    border-radius: 5px;
    background: transparent;
    color: black;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;

}

button:hover {
    background-color: gray;
}